# PyML Exam Overview

# 1_Code Reading

## *1.1 Data Types*

In [ ]:
'''
Understand the differences between integers, floats, and strings. 
Integers represent whole numbers, floats represent decimal numbers, and strings represent sequences of characters enclosed in quotes.
'''

# No need to check this

## *1.2 Type conversion*

In [ ]:
'''
Be familiar with the concepts of type casting or type conversion. 
This involves converting one data type to another. 
For example, using the int() function to convert a value to an integer, float() to convert to a floating-point number, and str() to convert to a string.
'''

#Level easy

In [ ]:
# Example 1: Converting a string to an integer or float
num_str = "123"
num_int = int(num_str)  # Converting string to integer
num_float = float(num_str)  # Converting string to float

num_str, num_int, num_float

In [ ]:
# Example 2: Converting an integer or float to a string
num_int = 123
num_float = 3.14
num_str_int = str(num_int)  # Converting integer to string
num_str_float = str(num_float)  # Converting float to string

num_str_int, num_str_float

In [ ]:
# Example 3: Converting a float to an integer (rounding down)

num_float = 3.8
num_int = int(num_float)  # Converting float to integer (rounding down)

num_int

In [ ]:
# Example 4: Converting an integer or float to a string with specific formatting
num_float = 3.14159
num_str_fixed = format(num_float, ".2f")  # Converting float to string with 2 decimal places
num_str_scientific = format(num_float, ".2e")  # Converting float to string in scientific notation with 2 decimal places

num_str_fixed, num_str_scientific

In [ ]:
# Example 5: Converting a string representing a binary number to an integer
binary_str = "101010"
decimal_num = int(binary_str, 2)  # Converting binary string to integer

decimal_num

In [ ]:
# Example 6: Converting a list of integers to a string
num_list = [1, 2, 3, 4, 5]
num_str = "".join(map(str, num_list))  # Converting list of integers to a string

num_str

In [ ]:
# Example 7: Converting a string to a list of characters:
text = "Hello"
char_list = list(text)  # Converting string to a list of characters

char_list

## *1.3 Syntax and function calls*

In [ ]:
'''
Understand the syntax of function calls, including the use of parentheses, 
arguments, and multiple function calls within a single statement.
'''

In [ ]:
# Example 1: Nested function calls
def add(a, b):
    return a + b

def multiply(x, y):
    return x * y

result = multiply(add(2, 3), 4)
print(result)

In [ ]:
# Example 2: Chained function calls
def add(a, b):
    return a + b

result = add(2, 3) + add(4, 5)
print(result)

In [ ]:
# Example 3: Function call with default arguments
def greet(name, greeting="Hello"):
    return greeting + ", " + name + "!"

result = greet("Alice")
print(result)

In [ ]:
# Example 4: Function call with keyword arguments
def calculate_total(price, quantity):
    return price * quantity

total = calculate_total(price=10, quantity=5)
print(total)

In [ ]:
# Example 5: Function call with variable number of arguments
def average(*args):
    return sum(args) / len(args)

result = average(2, 4, 6, 8)
print(result)

In [ ]:
# Example 6: Function call with variable number of keyword arguments
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(key + ": " + value)

print_info(name="Alice", age="25", country="USA")

In [ ]:
# Example 7: Function call with lambda function
multiply = lambda x, y: x * y
result = multiply(3, 4)
print(result)

In [ ]:
# Example 8: Accessing attributes of an object
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

rectangle = Rectangle(4, 5)
print(rectangle.length)

In [ ]:
# Example 9: Function call with a function as an argument
def apply_operation(operation, x, y):
    return operation(x, y)

def multiply(x, y):
    return x * y

result = apply_operation(multiply, 3, 4)
print(result)

## *1.4 Output format*

In [ ]:
'''
Pay attention to the expected output format specified in the exercise instructions. 
The output may require distinguishing between integers, floats, and strings 
by using quotes or appropriate suffixes such as .0 for floats.
'''

In [ ]:
# TEST
num = 3.14159
num2 = 3
output = f'A {num:.2f}'
output2 = f'B {num2:04d}'

print(output, output2)

In [ ]:
# Example 1: Formatting a float with a specific number of decimal places
num = 3.14159
output = "{:.2f}".format(num)
print(output)

In [ ]:
# Example 2: Converting an integer to a formatted string with leading zeros
num = 7
output = "{:04d}".format(num)
print(output)

In [ ]:
# Example 3: Using f-strings to format a float with a specified width and decimal places
num = 2.71828
output = f"{num:8.3f}"
print(output)

In [ ]:
# Example 4: Displaying a string with single quotes and escaped characters
text = "Hello, 'PyML'!"
output = repr(text)

print(output)
print(text)

In [ ]:
# Example 5: Representing a boolean value as an integer

value = True
output = int(value)
print(output)

In [ ]:
# Example 6: Formatting a string with variable substitution
name = "Alice"
age = 25
output = "My name is {} and I am {} years old.".format(name, age)
print(output)

In [ ]:
# Example 7: Specifying the number of characters for a string
text = "PyML"
output = "{:100}".format(text)
print(output)

In [ ]:
# Example 8: Representing a floating-point number in scientific notation
num = 0.0000123456
output = "{:.2e}".format(num)
print(output)

In [ ]:
# Example 9: Formatting a string with a specified width and alignment
text = "PyML"
output = "{:^10}".format(text)
print(output)

In [ ]:
# Example 10: Displaying the length of a string as a floating-point number
text = "Hello"
output = "{:.2f}".format(len(text))
print(output)

## *1.5 Basic operations*

In [ ]:
'''
Be comfortable with performing basic operations on different data types, 
such as addition, subtraction, multiplication, division, and concatenation.
'''

In [ ]:
# Example 1: Arithmetic operations on integers
x = 10
y = 3
output_1 = x // y  # Floor division
output_2 = x % y  # Modulo
output_3 = x ** y  # Exponentiation

print(output_1, output_2, output_3)

In [ ]:
# Example 2: Arithmetic operations on floats
x = 3.5
y = 1.2
output_1 = x / y  # Division
output_2 = x + y  # Addition
output_3 = x * y  # Multiplication

print(output_1, output_2, output_3)

In [ ]:
# Example 3: Arithmetic operations on mixed data types
x = 5
y = 2.5
output_1 = x + y  # Addition
output_2 = x * y  # Multiplication
output_3 = x / y  # Division

print(output_1, output_2, output_3)

In [ ]:
# Example 4: Concatenation of strings
text1 = "Hello"
text2 = "PyML"
output = text1 + " " + text2

print(output)

In [ ]:
# Example 5: Arithmetic operations within expressions
x = 5
y = 3
z = 2
output = (x + y) * z / y

print(output)

In [ ]:
# Example 6: String repetition
text = "PyML"
output = text * 3
print(output)

In [ ]:
# Example 7: Division with floor division result
x = 10
y = 3
output_1 = x / y  # Division
output_2 = x // y  # Floor division

print(output_1, output_2)

In [ ]:
# Example 8: Modulo operation on negative numbers
x = -10
y = 3
output = x % y

print(output)

In [ ]:
# Example 9: String multiplication with zero
text = "PyML"
output = text * 0

print(output)

## *1.6 Order of operations*

In [ ]:
'''
Understand the precedence of operators in Python and how to use parentheses to control 
the order of evaluation in complex expressions.
'''

In [ ]:
# Example 1: Complex arithmetic operations with parentheses

output = (2 + 3) * 4 - 2
print(output)

In [ ]:
# Example 2: Operator precedence involving multiplication, division, and addition
output = 10 - 4 * 2 / 2
print(output)

In [ ]:
# Example 3: Operator precedence with mixed operations
output = 5 - 2 * 3 + 4 / 2
print(output)

In [ ]:
# Example 4: Complex expression with multiple levels of parentheses

output = ((10 - 2) * (3 + 4)) / (6 - 1)

print(output)

In [ ]:
# Example 5: Operator precedence with multiple operators:

output = 2 + 3 * 4 - 6 / 2 ** 2
print(output)

## *1.7 Built-in functions*

In [ ]:
'''
Familiarize yourself with commonly used built-in functions in Python, 
such as print(), len(), range(), min(), max(), sum(), and round(), among others. 
These functions may appear in the code blocks and influence the output.
'''

In [ ]:
# Example 1: Using the len() function to determine the length of a string
text = "Hello, PyML!"
output = len(text)

print(output)

In [ ]:
# Example 2: Using the max() and min() functions with a list of numbers
numbers = [5, 2, 8, 1, 9]
output_max = max(numbers)
output_min = min(numbers)

print(output_max, output_min)

In [ ]:
# Example 3: Applying the round() function to a float with a specified number of decimal places
num = 3.14159
output = round(num, 2)

print(output)

In [ ]:
# Example 4: Using the sum() function to calculate the total of a list of numbers
numbers = [1, 2, 3, 4, 5]
output = sum(numbers)

print(output)

In [ ]:
# Example 5: Utilizing the sorted() function to sort a list in ascending order
numbers = [5, 2, 8, 1, 9]
output = sorted(numbers)

print(output)

In [ ]:
# Example 6: Using the range() function to generate a sequence of numbers
output = list(range(1, 10, 2))
print(output)

In [ ]:
# Example 7: Applying the abs() function to calculate the absolute value of a number
num = -5
output = abs(num)
print(output)

In [ ]:
# Example 8: Utilizing the format() function to format a string with dynamic values
name = "Alice"
age = 25
output = "My name is {} and I am {} years old.".format(name, age)

print(output)

In [ ]:
# Example 9: Using the reversed() function to reverse the order of a list
numbers = [1, 2, 3, 4, 5]
output = list(reversed(numbers))
print(output)

In [ ]:
# Example 10: Applying the any() and all() functions to check conditions on a list of values
values = [True, False, True]
output_any = any(values)
output_all = all(values)

print(output_any, output_all)

## *1.8 Function parameters and return values*

In [ ]:
'''
Pay attention to the parameters passed to functions and the return values they produce. 
Understanding the purpose and behavior of functions is crucial in determining the output.
'''

In [ ]:
# Example 1: Function with default parameter value
def greet(name, greeting="Hello"):
    return greeting + ", " + name + "!"

output = greet("Alice")
print(output)

In [ ]:
# Example 2: Function with conditional return statements
def get_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    else:
        return "C"

output = get_grade(85)
print(output)

In [ ]:
# Example 3: Function with side effects
def increment(x):
    x += 1

number = 5
increment(number)
print(number)

In [ ]:
# Example 4: Function with multiple return values
def get_circle_properties(radius):
    circumference = 2 * 3.14 * radius
    area = 3.14 * radius ** 2
    return circumference, area

circumference, area = get_circle_properties(3)
print(circumference, area)

In [ ]:
# Example 5: Function with mutable default parameter

def append_value(value, lst=[]):
    lst.append(value)
    return lst

output1 = append_value(1)
output2 = append_value(2)
# output2=4

print(output1, output2)

In [ ]:
# Example 6: Function with recursion
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

output = factorial(4)
print(output)

In [ ]:
# Example 7: Function with lambda expression
multiply = lambda x, y: x * y
output = multiply(3, 4)
print(output)

## *1.9 String manipulation*

In [ ]:
'''
Be aware of basic string manipulation operations, such as slicing, concatenation, and string formatting. 
This knowledge will help you interpret and determine the output of code blocks involving strings.
'''

In [ ]:
# Example 1: Concatenating strings

text1 = "Hello"
text2 = "PyML"
output = text1 + " " + text2

print(output)

In [ ]:
# Example 2: String indexing and slicing
text = "Python"
output_1 = text[0]  # Accessing first character
output_2 = text[-1]  # Accessing last character
output_3 = text[2:5]  # Slicing from index 2 to 4 (exclusive)

print(output_1, output_2, output_3)

In [ ]:
# Example 3: Converting case
text = "Python"
output_1 = text.lower()  # Converting to lowercase
output_2 = text.upper()  # Converting to uppercase

print(output_1, output_2)

In [ ]:
# Example 4: String split and join
text = "AB, CD!"
output_1 = text.split(",")  # Splitting string by comma
output_2 = "-".join(text.split(","))  # Joining words with hyphen

print(output_1, output_2)

In [ ]:
# Example 5: String strip and replace

text = "   PyML   "
output_1 = text.strip()  # Removing leading and trailing whitespace
output_2 = text.replace("ML", "Machine Learning")  # Replacing substring

print(output_1, output_2)

In [ ]:
# Example 6: Checking string presence
text = "Hello, PyML!"
output_1 = "Py" in text  # Checking substring presence
output_2 = text.startswith("Hello")  # Checking starting substring
output_3 = text.endswith("!")  # Checking ending substring

print(output_1, output_2, output_3)

# 2_Coding exercises

## *2.1 Data structures*

In [ ]:
'''
Familiarize yourself with different data structures in Python, such as lists, sets, dictionaries, and tuples. 
Each data structure has its own properties and methods for manipulation
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of integers as input and 
returns a new list containing only the even numbers from the input list
'''

def get_even_numbers(numbers):
    even_numbers = [i for i in numbers if i%2 == 0]
    return even_numbers

# TEST
list123 = [1,2,3,4,5]
get_even_numbers(list123)

In [ ]:
# Example 2
'''
Write a function that takes a string as input and returns 
a new string with the words in reverse order
'''
def reverse_words(sentence):
    words = sentence.split()
    reversed_words = words[::-1]
    reversed_sentence = " ".join(reversed_words)
    return reversed_sentence

# TEST
reverse_words("du! bist Schlau")

In [ ]:
# Example 3
"""
Write a function that takes a dictionary as input and returns a new dictionary 
where the keys and values are swapped:
"""
def swap_keys_values(dictionary):
    swapped_dict = {value: key for key, value in dictionary.items()}
    return swapped_dict

# TEST
dicttest = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

swap_keys_values(dicttest)

In [ ]:
# Example 4
'''
Write a function that takes a list of strings as input and 
returns a new list containing the lengths of each string
'''

def get_string_lengths(strings):
    lengths = [len(i) for i in strings]
    return lengths

# TEST
listtest = ["abc", "abcd", "abcde"]
get_string_lengths(listtest)

In [ ]:
# Example 5
'''
Write a function that takes a list of numbers as input and 
returns the sum of all the numbers
'''

def get_sum(numbers):
    total = sum(numbers)
    return total

# TEST
listtest =(1,2,3,4)
get_sum(listtest)

In [ ]:
# Example 6
'''
Write a function that takes a string as input and 
returns a new string with the vowels removed
'''
def remove_vowels(text):
    vowels = "aeiouAEIOU"
    no_vowels = "".join([char for char in text if char not in vowels])
    return no_vowels

listtest = "Hallo"
remove_vowels(listtest)

In [ ]:
# Example 7
'''
Write a function that takes a list of numbers as input and 
returns a new list with the numbers squared
'''
def square_numbers(numbers):
    squared = [i**2 for i in numbers]
    return squared

In [ ]:
# Example 8
'''
Write a function that takes a list of strings as input and 
returns a new list with the strings in uppercase
'''

def uppercase_strings(strings):
    uppercased = [i.upper() for i in strings]
    return uppercased

# TEST
listtest = ["aBc", "abCd", "abcDe"]
uppercase_strings(listtest)

In [ ]:
# Example 9
'''
Write a function that takes a string as input and returns 
the count of each unique character in the string as a dictionary
'''

def count_characters(text):
    char_count = {i: text.count(i) for i in set(text)}
    return char_count

# TEST
listtest = "Hallo"
count_characters(listtest)

In [ ]:
# Example 10
'''
Write a function that takes a list of numbers as input and 
returns a new list with only the unique numbers
'''
def get_unique_numbers(numbers):
    unique_numbers = list(set(numbers))
    return unique_numbers

# TEST
listtest = [1,2,3,4,4,4]
get_unique_numbers(listtest)

## *2.2 Iteration*

In [ ]:
'''
You should know how to iterate over elements in a data structure using loops, such as for loops. 
Iteration allows you to access and process each element in a collection
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns a new list with only the even numbers:
'''
def get_even_numbers(numbers):
    even_numbers = []
    for i in numbers:
        if i % 2 == 0:
            even_numbers.append(i)
    return even_numbers

listtest = [1,2,3,4,4,4]
get_even_numbers(listtest)

In [ ]:
# Example 2
'''
Write a function that takes a dictionary as input and 
returns a new list with the keys sorted in ascending order
'''
def sort_keys(dictionary):
    sorted_keys = []
    for i in sorted(dictionary.keys()):
        sorted_keys.append(i)
    return sorted_keys

# TEST
dicttest = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

sort_keys(dicttest)

In [ ]:
# FOR MORE INFOS TO EXAMPLE 2

dicttest = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dicttest.keys()

In [ ]:
# Example 3

'''
Write a function that takes a list of numbers as input 
and returns the sum of the positive numbers
'''

def sum_positive_numbers(numbers):
    total = 0
    for i in numbers:
        if i > 0:
            total += i
    return total

# TEST
listtest = [1,2,3,-4,-4,4]
sum_positive_numbers(listtest)

In [ ]:
# Example 4
'''
Write a function that takes a string as input and counts the number of occurrences 
of each character. Return the result as a dictionary
'''

def count_characters(text):
    char_count = {}
    for i in text:
        if i in char_count:
            char_count[i] += 1
        else:
            char_count[i] = 1
    return char_count

stringtest = "Hallo"
count_characters(stringtest)

In [ ]:
# Example 5
'''
Write a function that takes a list of lists as input and 
returns a new list containing the maximum value from each inner list
'''

def get_max_values(matrix):
    max_values = []
    for sublist in matrix:
        max_values.append(max(sublist))
    return max_values

# TEST
matrix = [[1, 5, 3], [9, 2, 7], [4, 6, 8]]
result = get_max_values(matrix)
print(result)

In [ ]:
# Example 6
'''
Write a function that takes a list of numbers as input and 
returns a new list with the squared values
'''

def square_numbers(numbers):
    squared_values = []
    for i in numbers:
        squared_values.append(i**2)
    return squared_values

listtest = [1,2,3,-4,-4,4]
square_numbers(listtest)

## *2.3 Conditional statements*

In [ ]:
'''
Understand how to use conditional statements, such as if, else, and elif, 
to perform different actions based on specific conditions.
'''

In [ ]:
# Example 1
'''
Write a function that takes a string as input and returns "Palindrome" 
if the string is a palindrome (reads the same forwards and backwards) and 
"Not Palindrome" otherwise
'''

def check_palindrome(string):
    reversed_string = string[::-1]
    if string == reversed_string:
        return "Palindrome"
    else:
        return "Not Palindrome"

# TEST
stringtest = "step on no pets"
check_palindrome(stringtest)

In [ ]:
# Example 2
'''
Write a function that takes a number as input and returns "B" if the number is divisible by 3, 
"C" if it is divisible by 5, and "A" if it is divisible by both 3 and 5. 
Otherwise, return the number itself
'''
def fizz_buzz(number):
    if number % 3 == 0 and number % 5 == 0:
        return "A"
    elif number % 3 == 0:
        return "B"
    elif number % 5 == 0:
        return "C"
    else:
        return number

# TEST
fizz_buzz(15)

In [ ]:
# Example 3
'''
Write a function that takes a list of numbers as input and returns the sum of the numbers. 
However, if any negative number is encountered, stop the sum and return -1:
'''
def sum_positive_numbers(numbers):
    total = 0
    for i in numbers:
        if i < 0:
            return -1
        total += i
    return total

# TEST
listtest = [1,2,3,-4,-4,4]
listtest2 = [1,2,3,4]
sum_positive_numbers(listtest2)

In [ ]:
# Example 4
'''
Write a function that takes an integer as input and returns "Prime" if the number 
is prime (only divisible by 1 and itself) and "Not Prime" otherwise
'''
def check_prime(number):
    if number <= 1:
        return "Not Prime"
    for i in range(2, int(number**0.5) +1):
        if number % i ==0:
            return "Not Prime"
    return "Prime"

# TEST
inttest = 5
check_prime(inttest)

In [ ]:
# Example 5
'''
Write a function that takes a list of numbers as input and 
returns the count of numbers that are divisible by both 2 and 3
'''

def count_divisible_by_2and3(numbers):
    count = 0
    for i in numbers:
        if i % 2 == 0 and i % 3 == 0:
            count += 1
    return count

# TEST
testlist = [6,6,6,1,2,3]
count_divisible_by_2and3(testlist)

## *2.4 Comparison operators*

In [ ]:
'''
Be familiar with comparison operators in Python, such as >, <, >=, <=, ==, and !=. 
These operators are used to compare values and return a boolean result (True or False)
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns True if all the numbers in the list are positive, and False otherwise
'''
def are_all_positive(numbers):
    return all(i>0 for i in numbers)

# TEST
listtest = [1,-2,3]
are_all_positive(listtest)

In [ ]:
# Example 2
'''
Write a function that takes a string as input and 
returns True if the string starts with an uppercase letter, and False otherwise
'''
def starts_with_uppercase(string):
    return string[0].isupper()

# TEST
teststring = "Sure"
starts_with_uppercase(teststring)

In [ ]:
# Example 3
'''
Write a function that takes a list of strings as input and returns 
True if any string in the list has a length greater than 10, and False otherwise
'''
def has_long_string(strings):
    # return all(len(i)>10 for i in strings)
    return any(len(i)>10 for i in strings)

# TEST
testlist = ["My", "name","is", "ABCDEFGHHIJKLMNO"]
has_long_string(testlist)

In [ ]:
# Example 4
'''
Write a function that takes a list of numbers as input and 
returns True if the list is in strictly increasing order, and False otherwise
'''

def is_increasing(numbers):
    return all(numbers[i] < numbers[i+1] for i in range(len(numbers)-1))

# TEST
listtest = [1,2,3,7]
is_increasing(listtest)

In [ ]:
# Example 5
'''
Write a function that takes a dictionary as input and 
returns True if all the values in the dictionary are unique, and False otherwise
'''
def has_unique_values(dictionary):
    return len(set(dictionary.values())) == len(dictionary)

# TEST
dict1 = {"apple": 3, "banana": 2, "orange": 5}
dict2 = {"apple": 3, "banana": 2, "orange": 3}
print(has_unique_values(dict1))  # True
print(has_unique_values(dict2))  # False

In [ ]:
# Example 6
'''
Write a function that takes a list of strings as input and 
returns True if all the strings in the list have the same length, and False otherwise
'''
def has_same_length(strings):
    return all(len(i) == len(strings[0]) for i in strings)

# TEST
listtest = ["abc", "def", "ghi"]
has_same_length(listtest)

## *2.5 List comprehension*

In [ ]:
'''
Learn how to use list comprehension to create new lists based on existing lists or other iterables. 
List comprehension provides a concise way to generate new lists with specific conditions
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns a new list with only the even numbers
'''
def get_even_n(numbers):
    even_numbers = [i for i in numbers if i%2==0]
    return even_numbers

# TEST
listtest = [1,2,3,4,5]
get_even_n(listtest)

In [ ]:
# Example 2
'''
Write a function that takes a string as input and 
returns a new string with the vowels removed
'''
def remove_vowels(text):
    vowels = "aeiouAEIOU"
    no_vowels = [char for char in text if char not in vowels]
    no_vowels = "|".join(no_vowels)
    return no_vowels

# TEST
chartest = "Hallo"
remove_vowels(chartest)

In [ ]:
# Example 3
'''
Write a function that takes a list of numbers as input and 
returns a new list with only the positive numbers
'''

def get_positive_numbers(numbers):
    positive_numbers = [num for num in numbers if num > 0]
    return positive_numbers

# ALTERNATIVE
def get_positive_numbers2(numbers):
    positive_numbers = []
    for i in numbers:
        if i > 0:
            positive_numbers.append(i)
    return positive_numbers
            
# TEST
testlist = [1,2,3,-4]
print(get_positive_numbers(testlist))
print(get_positive_numbers2(testlist))

In [ ]:
# Example 4
'''
Write a function that takes a string as input and 
returns a new string with the characters in reverse order
'''
def reverse_strings(strings):
    reversed_strings = [i[::-1] for i in strings]
    return reversed_strings

# TEST
teststring = ("ABCD", "EFG")
reverse_strings(teststring)

In [ ]:
# Example 5
'''
Write a function that takes a list of strings as input and 
returns a new list with the strings converted to uppercase
'''
def uppercase_strings(strings):
    upper = [i.upper() for i in strings]
    return upper

# TEST
testlist = ["Arg", "asd"]
uppercase_strings(testlist)

In [ ]:
# Example 6
'''
Write a function that takes a list of numbers as input and 
returns a new list with only the numbers greater than their index position
'''
def get_numbers_greater_than_index(numbers):
    result = [num for i, num in enumerate(numbers) if num > i]
    # result = [i for i, num in enumerate(numbers) if num > i] # give the index

    return result

# TEST
testlist = [-1,2,3,-4]
get_numbers_greater_than_index(testlist)

In [ ]:
# Example 7
'''
Write a function that takes a list of strings as input and 
returns a new list with the strings containing at least one uppercase letter
'''
def get_strings_with_uppercase(strings):
    result = [i for i in strings if any(char.isupper() for char in i)]
    return result

# TEST
testlist = ["Hi", "my", "name"]
get_strings_with_uppercase(testlist)

In [ ]:
# Example 8
'''
Write a function that takes a list of numbers as input and 
returns a new list with the squared values
'''
def sqr_n(numbers):
    sq = [i**2 for i in numbers]
    return sq

# TEST
testlist = (1,2,3)
sqr_n(testlist)

## *2.6 Set comprehension*

In [ ]:
'''
Similar to list comprehension, you can use set comprehension to create new sets 
based on existing sets or other iterables
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns a new set with only the unique even numbers
'''

def get_unique_even_numbers(numbers):
    nums = {num for num in numbers if num%2==0}
    return nums

# TEST
testlist=(1,2,2,3,4,4,5,5)
get_unique_even_numbers(testlist)

In [ ]:
# Example 2
'''
Write a function that takes a list of strings as input and 
returns a new set with the unique first characters of each string
'''
def get_unique_first_characters(strings):
    chars = {i[0] for i in strings}
    return chars

# TEST
testlist = ["Ab", "cD"]
get_unique_first_characters(testlist)

In [ ]:
# Example 3
'''
Write a function that takes a string as input and 
returns a new set with the unique words present in the string
'''
def get_unique_words(text):
    words = text.split()
    unique_words = {i for i in words}
    return unique_words

# TEST
stringtest = "Ich heiße Heinrich"
get_unique_words(stringtest)

## *2.7 Dict comprehension*

In [ ]:
'''
Dict comprehension allows you to create new dictionaries based on existing dictionaries or other iterables. 
It provides a convenient way to generate dictionaries with specific conditions
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns a dictionary where the keys are the numbers and the values are their squares
'''
def get_squared_dict(numbers):
    sqr_dicts = {i: i**2 for i in numbers}
    return sqr_dicts

# TEST
testlist = [1,2,3,4]
get_squared_dict(testlist)

In [ ]:
# Example 2
'''
Write a function that takes a list of strings as input and 
returns a dictionary where the keys are the strings and the values are their lengths
'''
def get_string_lengths(strings):
    len_dic = {i: len(i) for i in strings}
    return len_dic

# TEST
testlist = ["abc", "abcde", "a"]
get_string_lengths(testlist)

In [ ]:
# Example 3
'''
Write a function that takes a list of tuples (name, age) as input and 
returns a dictionary where the keys are the names and the values are the ages
'''
def get_name_age_dict(tuples):
    name_age_dict = {name: age for name, age in tuples}
    return name_age_dict

# TEST
testlist = [("Ali",22),("Butter",23),("Markus",26)]
get_name_age_dict(testlist)

In [ ]:
# Example 4
'''
Write a function that takes a list of strings as input and 
returns a dictionary where the keys are the strings and 
the values are the counts of their vowels
'''
def count_vowels(strings):
    vowels = "aeiou"
    vowels_dict = {key: sum(1 for char in key if char.lower() in vowels) for key in strings}
    return vowels_dict

# TEST
testlist = ["hallo", "bin", "a"]
count_vowels(testlist)

In [ ]:
# Example 5
'''
Write a function that takes a list of numbers as input and 
returns a dictionary where the keys are the numbers and the values are their sign: 
"Positive", "Negative", or "Zero"
'''
def get_number_signs(numbers):
    sign_dict = {num: "Pos." if num>0 else "Neg." if num<0 else "Zero" for num in numbers}
    return sign_dict

# TEST
testlist = [-1,2,4,-2]
get_number_signs(testlist)

In [ ]:
# Example 6
'''
Write a function that takes a list of strings as input and 
returns a dictionary where the keys are the strings and the values are their reversed versions
'''
def reverse_strings(strings):
    reversed_dict = {word: word[::-1] for word in strings}
    return reversed_dict

# TEST
testlist = ["hallo", "bin", "Gut"]
reverse_strings(testlist)

In [ ]:
# Example 7
'''
Write a function that takes a list of dictionaries (with 'name' and 'age' keys) 
as input and returns a dictionary where the keys are the names 
and the values are the ages
'''
def get_name_age_dict(dicts):
    name_age_dict = {d['name']: d['age'] for d in dicts}
    return name_age_dict

# TEST
dicts = [
    {'name': 'John', 'age': 25},
    {'name': 'Emily', 'age': 30},
    {'name': 'David', 'age': 28}
]

get_name_age_dict(dicts)

In [ ]:
# Example 8
'''
Write a function that takes a list of strings as input and 
returns a dictionary where the keys are the strings and 
the values are True if the string contains a vowel and False otherwise
'''
def check_vowels(strings):
    vowels = "aeiou"
    vowel_dict = {word: any(char.lower() in vowels for char in word) for word in strings}
    return vowel_dict                        

# TEST
testlist = ["ABC", "abc", "BD"]                            
check_vowels(testlist)

In [ ]:
# Example 9
'''
Write a function that takes a list of numbers as input and 
returns a dictionary where the keys are the numbers and 
the values are True if the number is prime and False otherwise
'''
def check_prime(numbers):
    def is_prime(num):
        if num < 2:
            return False
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                return False
        return True
    
    prime_dict = {num: is_prime(num) for num in numbers}
    return prime_dict

# TEST
testlist = [1,2,3,4,5]
check_prime(testlist)

In [ ]:
# Example 10
'''
Write a function that takes a list of strings as input and 
returns a dictionary where the keys are the strings and 
the values are the counts of their characters
'''

def count_characters(strings):
    char_count_dict = {i: {char: i.count(char) for char in i} for i in strings}
    return char_count_dict

# TEST
testlist = ["ABC", "yyzz", "dDD"]                            
count_characters(testlist)

## *2.8 Return statement*

In [ ]:
'''
Understand how to use the return statement within a function 
to specify the value or values to be returned as the result of the function
'''

In [ ]:
# Example 1
'''
Write a function that takes a list of numbers as input and 
returns the maximum and minimum numbers
'''
def get_min_max(numbers):
    minimum = min(numbers)
    maximum = max(numbers)
    return minimum, maximum

# TEST
testlist = [-2,3,4,7]
get_min_max(testlist)

## *2.9 Yield*

In [ ]:
'''
Write a generator function that yields the squares of numbers from 1 to a given limit
'''
def square_generator(limit):
    for num in range(1, limit+1):
        yield num ** 2

# TEST
square_generator(5)

In [ ]:
# Example 1: Square Generator
def square_generator(limit):
    for num in range(1, limit+1):
        yield num ** 2

# TEST
squares = square_generator(3)
for square in squares:
    print(square)

In [ ]:
# Example 2: Fibonacci
def fibonacci_generator(num_terms):
    a, b = 0, 1
    count = 0
    while count < num_terms:
        yield a
        a, b = b, a + b
        count += 1

# TEST
fibonacci = fibonacci_generator(8)
for term in fibonacci:
    print(term)

In [ ]:
# Example 3: Prime Generator
def prime_generator(limit):
    for num in range(2, limit+1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            yield num

# Usage and Output
primes = prime_generator(10)
for prime in primes:
    print(prime)

In [ ]:
# Example 4: Word Generator
def word_generator(sentence):
    words = sentence.split()
    for word in words:
        yield word

# Usage and Output
sentence = "This is a sentence"
words = word_generator(sentence)
for word in words:
    print(word)

# 3_Improving Code Efficiency

In [ ]:
import numpy as np

## *3.1 NumPy Arrays*

In [ ]:
'''
Understand the basics of creating NumPy arrays using np.array() and np.ndarray().

Know how to access and modify elements of NumPy arrays using indexing and slicing.

Familiarize yourself with common attributes of NumPy arrays, such as shape, size, and data type.

Be aware of the different ways to create specific types of arrays, such as zeros, ones, random, or empty arrays.
'''

In [ ]:
# Example 1: Creating an array from a Python list
my_list = [1, 2, 3, 4, 5]
my_array = np.array(my_list)

# TEST
print(type(my_array), my_array)

In [ ]:
# Example 2: Creating a multi-dimensional array using np.array()
my_array = np.array([[1,2,3], [4,5,6]])

# TEST
my_array, my_array.shape

In [ ]:
# Example 3.1: Accessing and Modifying Elements
# Accessing and modifying elements of a 1D array

my_array = np.array([1, 2, 3, 4, 5])

# Accessing elements
print(my_array[0])     # Output: 1
print(my_array[2:4])   # Output: [3 4]

# Modifying elements
my_array[3] = 10
print(my_array)        # Output: [ 1  2  3 10  5]

In [ ]:
# Example 3.2: Accessing and Modifying Elements
# Accessing and modifying elements of a 2D array

my_array = np.array([[1, 2, 3], [4, 5, 6]])

# Accessing elements
print(my_array[0, 1])   # Output: 2
print(my_array[:, 1])  # Output: [2 5]

# Modifying elements
my_array[1, 2] = 10
print(my_array)

In [ ]:
# Example 4: Common Attributes of NumPy Arrays

my_array = np.array([[1, 2, 3], [4, 5, 6]])

my_array.shape, my_array.size, my_array.dtype, type(my_array)

In [ ]:
# Example 5.1: Creating Specific Types of Arrays
my_zeros = np.zeros((3, 1, 2))
print(my_zeros)

In [ ]:
# Example 5.2: Creating an array of random numbers
my_random = np.random.rand(3, 1, 2)
print(my_random)

In [ ]:
# Example 5.3: Creating an empty array
my_empty = np.empty((2, 3))
print(my_empty)

## *3.2 Vectorized Operations*

In [ ]:
'''
Take advantage of vectorized operations in NumPy to perform element-wise operations on arrays.

Understand how arithmetic operators (+, -, *, /, %, **) can be applied directly to arrays.

Know how to apply mathematical functions (e.g., np.sin(), np.cos(), np.exp(), np.log()) to arrays.

Utilize logical operators (<, >, <=, >=, ==, !=) for element-wise comparisons and logical operations.
'''

In [ ]:
# Example 1: Element-wise Arithmetic Operations
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2

print(result)

In [ ]:
# Example 2: Multiplying two arrays element-wise
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 * array2

print(result)

In [ ]:
#test
import numpy as np
arr = np.array([0, np.pi/2, np.pi])
arr

In [ ]:
# Example 3.1: Mathematical Functions on Arrays (sin function)
array = np.array([0, np.pi/2, np.pi])
result = np.sin(array)

print(result)

In [ ]:
# Example 3.2: Mathematical Functions on Arrays (exp function)
array = np.array([1, 2, 3])
result = np.exp(array)

print(result)

In [ ]:
# Example 4.1: Element-wise Logical Operations (Comparing two arrays element-wise)
array1 = np.array([1, 2, 3])
array2 = np.array([2, 2, 2])
result = array1 > array2

print(result)

In [ ]:
# Example 4.2: Element-wise Logical Operations (Combining logical conditions on arrays)
array = np.array([1, 2, 3])
result = (array > 1) & (array < 3)

print(result)

In [ ]:
# Example 5.1: Broadcasting in Vectorized Operations (Adding a scalar to each element of an array)
array = np.array([1, 2, 3])
scalar = 5
result = array + scalar

print(result)

In [ ]:
# Example 5.2: Broadcasting in Vectorized Operations (Multiplying arrays with different shapes using broadcasting)
array1 = np.array([[1, 2, 3]])
array2 = np.array([2, 2, 2])
result = array1 * array2

print(result)

## *3.3 Broadcasting*

In [ ]:
'''
Understand the concept of broadcasting, which allows operations between arrays of different shapes.

Familiarize yourself with the rules of broadcasting and how it affects array operations.

Use broadcasting to perform operations between arrays with different dimensions or sizes.
'''

In [ ]:
# Example 1: Broadcasting in Arithmetic Operations (Adding a 1D array to a 2D array)

array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([1, 2, 3])
result = array1 + array2

print(result)

In [ ]:
# Example 2: Broadcasting in Element-wise Operations (Element-wise multiplication between a 2D array and a 1D array)

array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([2, 2, 2])
result = array1 * array2

print(result)

In [ ]:
#test
import numpy as np
array = np.array([1, 2, 3]).reshape(1,3)
# expanded_array = array[:, np.newaxis]

print(array.shape, expanded_array.shape)
print(array+expanded_array)

In [ ]:
# Example 3: Broadcasting with Dimensions (Adding a new dimension to an array for broadcasting)

array = np.array([1, 2, 3])
expanded_array = array[:, np.newaxis]

print(expanded_array, expanded_array.shape)

In [ ]:
# Example 4: Broadcasting a 1D array with a 2D array using dimensions

array1 = np.array([1, 2, 3])
array2 = np.array([[1, 2, 3], [4, 5, 6]])
result = array1[np.newaxis, :] + array2

print(result)

In [ ]:
# Example 5.1: Broadcasting with Rules (Broadcasting with different-sized arrays)
array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([1, 2])
result = array1 + array2[:, np.newaxis]

print(result)

In [ ]:
# Example 5.2: Broadcasting with Rules (Broadcasting with a larger dimension)
array1 = np.array([[1, 2, 3]]) #(1,3)
array2 = np.array([1, 2, 3]) #(1,3)
result = array2[:, np.newaxis] +array1 #(1,3) + (3,1)

# print(result, array1.shape, array2[:, np.newaxis].shape)
print(result)

## *3.4 Performance Optimization*

In [ ]:
'''
Identify opportunities to optimize code by replacing slow loops with vectorized operations.

Make use of built-in NumPy functions and methods that are optimized for performance.

Utilize the power of parallelization and efficient memory management offered by NumPy.
'''

In [ ]:
# Example 1: Replacing Loops with Vectorized Operations

array = np.array([1, 2, 3, 4, 5])
sum_result = 0

# SLOW FOR LOOP
for num in array:
    sum_result += num
print(sum_result)

# Optimized
sum_result2 = np.sum(array)
print(sum_result2)

In [ ]:
# Example 2: Utilizing Built-in NumPy Functions and Methods

array = np.array([5, 2, 8, 1, 9])

# Finding the maximum value in an array using a loop
max_value = array[0]
for num in array:
    if num > max_value:
        max_value = num
print(max_value)

# Finding the maximum value in an array using np.max()
max_value = np.max(array)
print(max_value)

In [ ]:
# Example 3: Parallelization

# Performing element-wise operations in parallel using NumPy's ufuncs
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([5, 4, 3, 2, 1])
result = np.multiply(array1, array2)  # Element-wise multiplication

print(result)

In [ ]:
# Example 4: Efficient Memory Management

# Efficient memory management using NumPy's views and functions
array = np.array([1, 2, 3, 4, 5])
sub_array = array[2:4]  # Create a view of a subset of the array

sub_array *= 2  # Modify the view

print(array)  # Original array is modified as well

## *3.5 Array Manipulation*

In [ ]:
'''
Be familiar with various array manipulation techniques, such as reshaping, transposing, and concatenating arrays.

Understand how to use functions like np.reshape(), np.transpose(), and np.concatenate() to manipulate arrays efficiently.
'''

In [ ]:
# Example 1.1: Reshaping Arrays (Reshaping a 1D array into a 2D array)
array = np.array([1, 2, 3, 4, 5, 6])
# reshaped_array = np.reshape(array, (2, 3))
reshaped_array = array.reshape(2, 3)

print(reshaped_array)

In [ ]:
# Example 1.2: Reshaping Arrays (Reshaping a 2D array into a 1D array)
array = np.array([[1, 2, 3], [4, 5, 6]])
reshaped_array = np.reshape(array, (6,))

print(reshaped_array)

In [ ]:
# Example 2: Transposing Arrays (Transposing a 2D array)

array = np.array([[1, 2, 3], [4, 5, 6]])
transposed_array = np.transpose(array)

print(transposed_array)

In [ ]:
# Example 3.1: Concatenating Arrays (two 1D arrays)
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
concatenated_array = np.concatenate((array1, array2))

print(concatenated_array)

In [ ]:
# Example 3.2: Concatenating Arrays (two 3D arrays along a specified axis)
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])
concatenated_array = np.concatenate((array1, array2), axis=0)
concatenated_array2 = np.concatenate((array1, array2), axis=1)
# concatenated_array3 = np.concatenate((array1, array2), axis=2)

print(concatenated_array, "\n", concatenated_array2)

## *3.6 Indexing and Filtering*

In [ ]:
'''
Learn about advanced indexing techniques, including boolean indexing, fancy indexing, and integer array indexing.

Utilize boolean arrays to filter and select elements from arrays based on certain conditions.

Understand how to combine indexing and broadcasting to perform complex operations efficiently.
'''

In [ ]:
# Example 1.1: Boolean Indexing (Selecting elements from an array based on a condition)
array = np.array([1, 2, 3, 4, 5])
condition = array > 3
filtered_array = array[condition]

print(condition, filtered_array)

In [ ]:
# Example 1.2: Boolean Indexing (Modifying elements of an array based on a condition)
array = np.array([1, 2, 3, 4, 5])
array[array > 3] = 0

print(array)

In [ ]:
# Example 2.1: Fancy Indexing (Selecting specific elements from an array using a list of indices)
array = np.array([1, 2, 3, 4, 5])
indices = [0, 2, 4]
selected_elements = array[indices]

print(selected_elements)

In [ ]:
# Example 2.2: Fancy Indexing (Modifying specific elements of an array using a list of indices)
array = np.array([1, 2, 3, 4, 5])
indices = [0, 2, 4]
array[indices] = 0

print(array)

In [ ]:
# Example 3.1: Integer Array Indexing (Using an array of integers as indices to select elements from an array)
array = np.array([1, 2, 3, 4, 5])
indices = np.arange(1, 4)
selected_elements = array[indices]

print(selected_elements)

In [ ]:
# Example 3.2: Integer Array Indexing (Modifying elements of an array using an array of integers as indices)
array = np.array([1, 2, 3, 4, 5])
indices = np.array([1, 3])
array[indices] = 0

print(array)

## *3.7 NumPy Functions*

In [ ]:
'''
Explore the vast range of built-in NumPy functions and methods available for array manipulation and mathematical operations.

Familiarize yourself with common functions like np.sum(), np.mean(), np.max(), np.min(), np.sort(), np.argsort(), and more.

Take advantage of specialized functions for linear algebra, statistics, signal processing, and more.
'''

In [ ]:
# Example 1.1: Array Manipulation Functions (Computing the sum of elements in an array)

array = np.array([1, 2, 3, 4, 5])
sum_result = np.sum(array)

print(sum_result)

In [ ]:
# Example 1.2: Array Manipulation Functions (Computing the mean of elements in an array)
array = np.array([1, 2, 3, 4, 5])
mean_result = np.mean(array)

print(mean_result)

In [ ]:
# Example 1.3: Array Manipulation Functions (Sorting an array in ascending order)
array = np.array([3, 1, 4, 2, 5])
sorted_array = np.sort(array)

print(sorted_array)

In [ ]:
# Example 2.1: Linear Algebra Functions (Computing the dot product of two arrays)
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
dot_product = np.dot(array1, array2)

print(dot_product)

In [ ]:
# Example 2.2: Linear Algebra Functions (Solving a system of linear equations)
coefficients = np.array([[2, 3], [4, 5]])
constants = np.array([6, 9])
solution = np.linalg.solve(coefficients, constants)

print(solution)

In [ ]:
# Example 3.1: Statistical Functions (Finding the maximum value in an array)
array = np.array([3, 1, 4, 2, 5])
max_value = np.max(array)

print(max_value)

In [ ]:
# Example 3.2: Statistical Functions (Finding the indices that would sort an array)
array = np.array([3, 1, 4, 2, 5])
sorted_indices = np.argsort(array)

print(sorted_indices)

## *3.8 Optimization Techniques*

In [ ]:
'''
Gain knowledge about advanced optimization techniques, such as memory optimization, algorithmic improvements, and parallelization using NumPy.

Explore the use of specialized functions and algorithms available in NumPy and its submodules for specific tasks.

Consider the use of numba, Cython, or other libraries to further optimize code when necessary.
'''

In [ ]:
# Example 1.1: Memory Optimization (Using smaller data types to save memory)
array = np.array([1, 2, 3, 4, 5], dtype=np.int8)  # Use int8 instead of default int64

print(array.dtype)

In [ ]:
# Example 1.2: Memory Optimization (Using views instead of copies to save memory)
array = np.array([1, 2, 3, 4, 5])
view = array.view()  # Create a view of the original array

print(view)

In [ ]:
# Example 2.1: Algorithmic Improvements (Utilizing vectorized operations for faster computations)
array = np.arange(1, 10000001)  # Array of numbers from 1 to 10 million
sum_result = np.sum(array)  # Faster than using a loop

print(sum_result)

In [ ]:
# Example 2.2: Algorithmic Improvements (Implementing efficient sorting algorithms for large arrays)
array = np.random.randint(1, 100000, size=1000000)  # Random array of 1 million elements
sorted_array = np.sort(array, kind='quicksort')  # Quicksort algorithm for sorting

print(sorted_array)

In [ ]:
# Example 3.1: Parallelization (Utilizing parallelized operations using NumPy's functions)
array1 = np.random.randint(1, 100, size=(1000, 1000))
array2 = np.random.randint(1, 100, size=(1000, 1000))

# Perform element-wise multiplication in parallel
result = np.multiply(array1, array2, out=array1, where=(array1 > 50))

print(result)

In [ ]:
# Example 4.1: Specialized Functions and Submodules (Utilizing NumPy's FFT functions for fast Fourier transforms)
signal = np.random.random(1024)  # Random signal of length 1024
fft_result = np.fft.fft(signal)  # Fast Fourier Transform

print(fft_result)

In [ ]:
# Example 4.2: Specialized Functions and Submodules (Using NumPy's linear algebra submodule for optimized linear algebra operations)
matrix = np.random.rand(1000, 1000)
eigenvalues, eigenvectors = np.linalg.eig(matrix)

print(eigenvalues)
print(eigenvectors)