# 1.1 Python Programming Basics

## *1.1.a String*

In [1]:
print('world' + ' is here') # string concatenation by '+' sign
'Hello world' # last line within a cell will be printed automatically (Notebook only)

world is here

'Hello world'

In [2]:
# the + operator creates concatenations of strings
print("Doctor's" + ' ' + 'office')
print("Doctor's " + 'office')

# strings can be indexed, sliced, concatenated, repeated, etc.
msg = 'hello'
msg[1], msg[::-1], 'hi' + 'lo', 'ya' * 3, len('house')

Doctor's office
Doctor's office

('e', 'olleh', 'hilo', 'yayaya', 5)

In [3]:
# strings are also immutable
msg[2] = 'e' # error, because we cannot change strings

TypeError: 'str' object does not support item assignment

In [5]:
message = 'h'
message += 'i!'
print(message)

hi!

## *1.1.b Math Operators*

In [6]:
10 // 3 ,   5 % 3,   1 << 8

(3, 2, 256)

In [7]:
10|3

11

All available operators:
```
+       -       *       **      /       //      %      @
<<      >>      &       |       ^       ~       :=
<       >       <=      >=      ==      !=
```

## *1.1.c Variables*

All in-place operators are:
```
+=      -=      *=      /=      //=     %=      @=
&=      |=      ^=      >>=     <<=     **=
```

## *1.1.d Types*

In [8]:
type(2), type(4 / 3), type(4**0.5j), type(5.4 % 3), type(not 1.3)

(int, float, complex, float, bool)

In [9]:
type([1, 'x', 3.3, True]), type((1, True, 'hi')), type(range(5)), type('wow')

(list, tuple, range, str)

## *1.1.e Explizit Type Conversion*

In [10]:
int("45"), bool(0), bool(23), int(4 / 3), float(2 + 2), float('4')

(45, False, True, 1, 4.0, 4.0)

In [11]:
 int(1.99), round(1.59), bool(""), bool(" "), bool([]), bool([1])

(1, 2, False, True, False, True)

In [12]:
#convert tuple into list or string
a = (1, 2, 3) #tuple
b = list(a) #convert to list
c = str(a)
type(b), type(c)

(list, str)

## *1.1.f Booleans*

In [13]:
print(bool(0), bool(0.0), bool(''), bool([]), bool({}), bool(())) #FALSE
print(bool(1), bool(0.01), bool(' '), bool([1]), bool({3}), bool((6,))) #TRUE

False False False False False False
True True True True True True

In [14]:
#first "True" value or last "False in "or"
#last "True" value or first "False" value in "and"
0 or '', '' or 0, 1 and 'a', '' and 1, 0 or 'tree' or 5, 6 and [] or [5], a and 6

('', 0, 'a', '', 'tree', [5], 6)

## *1.1.g Comparison Operators*

In [15]:
"hello                ".strip() == "hello"

True

In [16]:
[1] == [1], [1] is [1] # == means equal and "is" means a reference instead

(True, False)

## *1.1.h Lists*

In [17]:
# list can be created with [] or with the built-in list type (one trailing comma is okay)
[], [1, 2, 'a'], [1, 2,], list()

([], [1, 2, 'a'], [1, 2], [])

In [18]:
# the list built-in will attempt to iterate over its (optional) input and create a list of the elements
print(list('hello'))

# the + operator creates a new, concatenated list
print([1, 2, 3] + [2, 3, 4])

# the * operator repeats lists given an int (also works with strings)
print(3 * [1, 2], 10 * '+=')

['h', 'e', 'l', 'l', 'o']
[1, 2, 3, 2, 3, 4]
[1, 2, 1, 2, 1, 2] +=+=+=+=+=+=+=+=+=+=

In [19]:
# index notation
lst = [4, 2, 1, 5, 3]

print(lst[2], lst[0]) #counting start at 0
print(lst[-1], lst[-2], lst[-3]) #with minus you can count from back

1 4
3 5 1

In [20]:
'''
lists can be indexed using the slicing notation lst[start:stop:step] to create slices of lists 
(slicing is exclusive, i.e. the element with index stop will not be included)
'''
#print(lst[1:3], lst[:2], lst[2:], lst[:-1], lst[2:2], lst[:]) #start is inclusive / stop is exlusive
###
lst2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(lst2[::2], lst2[1::3]) #default value of start is 0 and stop the end of list and step defaults to 0

print(lst2[2:5:2], lst2[8::-2], lst2[7:3:-2]) #negative step will iterate in reverse from start to stop

print(lst2[5::-1], lst2[8::-2])

len(lst2)

[0, 2, 4, 6, 8, 10] [1, 4, 7, 10]
[2, 4] [8, 6, 4, 2, 0] [7, 5]
[5, 4, 3, 2, 1, 0] [8, 6, 4, 2, 0]

11

## *1.1.i Tuples*

In [21]:
# tuple with () or tuple() function
print((), (1,), (1, 2, 3)) #(1) would not be a tuple anymore

print(tuple([3, 4, 5]), tuple('hello')) #tuple function -> iterate over its input and create a tuple of the elements

() (1,) (1, 2, 3)
(3, 4, 5) ('h', 'e', 'l', 'l', 'o')

In [22]:
# tuples can be indexed, sliced, concatenated, repeated, etc.
tup = (1,2,3)
print(tup[1], tup[::-1], (1,) + (2,), (1,2) * 3, len((1, 2, 3)))

# tuples are immutable, i.e. they cannot be modified
tup2 = (2, 4, 6)
# print(tup2[-1] = 3) # error message

2 (3, 2, 1) (1, 2) (1, 2, 1, 2, 1, 2) 3

In [23]:
# use lists for mutable containers or create a new tuple
tup = list(tup)  # create a modifiable list with elements from tup
tup[-1] = 42
tup = tuple(tup)
print(tup)

(1, 2, 42)

## *1.1.j Membership Operator*

In [24]:
print(('ell' in 'hello', 'hi' in 'hello')) #checks with the string is inside -> Return True
print([2, 3] in [[2], 3, 4, [2,3]])
print('bear' in ['monkey', 'snake', 'bear'])
print(() in [[], '', False])

(True, False)
True
True
False

## *1.1.k String Utility Functions*

In [25]:
print('   the story \r\n\r\n '.strip())  # strip leading and trailing whitespaces/newlines

txt = 'Hello world !'  # index of a sub-string
first = txt.find('ll')  # 4
first, txt[first]

the story

(2, 'l')

In [26]:
print('Apples,Lettuce,Bread'.split(','))  # split a string into a list of strings given a delimiter
print(' and '.join(['Huey', 'Dewey', 'Louie']))  # joining a list of strings using a delimiter

['Apples', 'Lettuce', 'Bread']
Huey and Dewey and Louie

## *1.1.l String formatting*

In [27]:
# Using f-strings (recommended)
day = 17
suffix = 'th'
day_of_week = 'Monday'
month = 'October'

print(f'Today is {day_of_week} {day}{suffix} of {month}')

# Using str.format
print("Today is {}, {}{} of {}".format("Tuesday", 2 * 8 + 1, 'th', "October")) # old way

# Formatting options
print(f'Result: { 3**0.5:0.4f}') # operation inside + 3 digits after the floating point
print(f'Value:{15:05d}', f'Value:{15:5d}') # 5 digits long output filled with zeros/empty string

Today is Monday 17th of October
Today is Tuesday, 17th of October
Result: 1.7321
Value:00015 Value:   15

## *1.1.m Precedence of operators*

In [28]:
print("Exhaustive list")
'''
()              -> Parantheses (grouping)
f(args ...)     -> Function call
x[index:index]  -> Slicing
x[index]        -> Subscription
x.aatribute     -> Attribute reference
**              -> Exponentation
~x              -> Bitwise not
+,-,*,/         -> Positive, Negative, Multiplication, Division
&               -> AND
^               -> XOR
|               -> OR
in, not in, is, is not -> Comparison
not, and, or    -> Boolean NOT, AND, NOT
lambda          -> Lambda expression
'''

Exhaustive list

'\n()              -> Parantheses (grouping)\nf(args ...)     -> Function call\nx[index:index]  -> Slicing\nx[index]        -> Subscription\nx.aatribute     -> Attribute reference\n**              -> Exponentation\n~x              -> Bitwise not\n+,-,*,/         -> Positive, Negative, Multiplication, Division\n&               -> AND\n^               -> XOR\n|               -> OR\nin, not in, is, is not -> Comparison\nnot, and, or    -> Boolean NOT, AND, NOT\nlambda          -> Lambda expression\n'

## *1.1.n Functions*

In [29]:
def func(x, y, coeff=1):
    
    z = (x ** 2 + y ** 2) ** 0.5 
    z *= coeff
    
    return z, z ** 2  # multipe outputs possible (returned type is a tuple)

In [30]:
print(func(3, 4, 2))
print(func(3, 4))  # default coeff=1 is used
print(func(x=3, coeff=2, y=4))

(10.0, 100.0)
(5.0, 25.0)
(10.0, 100.0)

## *1.1.o Function docstring and type annotations*

In [31]:
# You may provide a function with a custom docstring and type annotations
def add_c(first : tuple, second : tuple) -> complex:
    """ Adds two complex numbers
        
        Args: 
            first (tuple)  : the first complex number
            second (tuple) : the second complex number
        
        Returns:
            complex : sum of the two complex numbers
    """
    
    assert type(first) == tuple, 'not a tuple'
    assert type(second) == tuple, 'not a tuple'
    
    re = first[0] + second[0]
    im = first[1] + second[1]
    
    return complex(re, im)

add_c((2,3), (2,-1))

(4+2j)

## *1.1.p Sequence unpacking*

In [32]:
values = (1, 2, 3)
val1, val2, val3 = values
print(val1, val2, val3)

1 2 3

In [33]:
print([5, *values, 19])

[5, 1, 2, 3, 19]